.row-1{
    display: flex;
    flex-direction: column;
    width: $w-100;
}

.main-mobile{
    color:$white;
    border-bottom: 1px solid;
    width:$w-100;
    margin-top: 58px;
}

.img-left{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    @extend .b-bottom;
    color:$white;
}





