.section-newReleases{
    display: flex;
    flex-direction: column;
    color:$white;
    @extend .b-top;
    @extend .h1-style;
    padding: 100px 0 0 0;
    text-align: center;
    .iframes-box{
        padding: 100px 0 100px 0;
        width: 100%;
        height: 100%;
        @extend .b-bottom;
        iframe{
            width:80%;
            height: 315px; 
        }
    }
}

